// Color scheme
$accent: #4E5AF9;

// Color scheme shades
$accent-light: #4E5AF952;
$accent-lighter: #4E5AF929;

// Text
$text-main: #201F24;
$text-light: #201F24A3;
$text-lightest: #201F2414;
$text-accent: #4E5AF9;

// Buttons
$button-color: #FFFFFF;